<!doctype html>
<html lang="en">
  <head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <!--
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
	-->
    <title>WALL-E Controller</title>
</head>
<body>
	<div class="container-fluid">
		<form action="/login_request" method="post">
			<br>
			<div class="row set-row">
				<div class="col set-text">Password</div>
				<div class="col">
					<input type="text" class="form-control set-num" name="password">
				</div>
			</div>
			<div class="row set-row">
				<div class="col set-text"></div>
				<div class="col">
					<button type="submit" value="Submit" class="btn btn-outline-info">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!--
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/joystick.js"></script>
    <script src="../static/js/main.js"></script>
	-->
	
</body>
<footer></footer>
